<div id="page-wrapper" class="animated marg220" [@fadeIn]>
<div class="page-t">
  <div class="page-nav">
    <a  href="javascript:;">产品更新</a>
    <a  routerLinkActive="active" >软件更新</a>
  </div>
  <router-outlet></router-outlet>
  <div class="search-box">

    <button (click)="searchParMenu();submied = true;tjmenu=true; clicked=true;" class="btn-blue btns" type="button" *ngIf="addbtn">+添加软件更新</button>
  </div>

</div>
<div class="J_mainContent" id="content-main">
  <div class="wrapper wrapper-content">
    <!--<track-map></track-map>-->
    <div class="xt-list">

      <table class="table table-striped" >
        <thead>
        <tr>
          <th >
            序号
          </th>
          <th >
            软件名称
          </th>
          <th >
            版本名称
          </th>
          <th>
            版本号
          </th>
          <th>
            用于APP
          </th>
          <th>
            更新次数
          </th>
          <th>
            更新时间
          </th>
          <th>
            操作
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products; let i = index;"  (click)="onSelect(product)">
          <td>{{(curPage-1)*10+i+1}}</td>
          <td >{{product.softwareName}}</td>
          <td >{{product.versionName}}</td>
          <td >{{product.versionNumber}}</td>
          <td >{{product.versionDevice}}</td>
          <td>{{product.updateTimes}}</td>
          <td>{{product.createTime|timeChange}}</td>
          <td><a *ngIf="edit" class="pl15" (click)="clicked=true;searchParMenu2(product)">详情</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a  *ngIf="del" (click)="delete(product); $event.stopPropagation()">删除</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="position:relative;padding:0 30px;top:0">
      <!--分页组件-->
      <div class="col-md-12 text-center text-sm text-dark-gray mt10" *ngIf="isEmpty">
        没有查询到数据
      </div>
    </div>
  </div>
</div>
</div>
<div [hidden]="!clicked"  class="mask"></div>


<div [hidden]="!tjmenu"  class="operate menu">
  <form class="operate-form" id="tjmenu" #tjmenuform="ngForm" enctype="multipart/form-data" (ngSubmit)="submied = false;tjmenuform.form.valid && add(description.value,versionname.value,version.value,product.value,size.value,
      imageUrl.value);">
    <div class="operate-title">添加软件更新<span (click)="clicked=false; tjmenu=false;" class="fa fa-close"></span></div>
    <div class="operate-content">
      <div class="operate-item fn-clear">
        <label>软件名称:</label>
        <div class="operate-group">
          <input required  type="text"  id="versionname" name="versionname" class="form-box"  [(ngModel)]="Product.softwareName" #versionname="ngModel">
          <p *ngIf="tjmenuform.submitted && !versionname.valid && !submied"   class="text-danger">版本名称不能为空</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label>版本名称:</label>
        <div class="operate-group">
          <input required  type="text"  id="description" name="description" class="form-box"  [(ngModel)]="Product.versionName" #description="ngModel">
          <p *ngIf="tjmenuform.submitted && !description.valid && !submied"   class="text-danger">软件名称不能为空</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label>版本号:</label>
        <div class="operate-group">
          <input required  type="number"  id="version" name="version" class="form-box"  [(ngModel)]="Product.versionNumber" #version="ngModel">
          <p *ngIf="tjmenuform.submitted && !version.valid && !submied"   class="text-danger">版本号不能为空</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label>APP类型:</label>
        <div class="operate-group">
          <select #product id="product" required name="product"  class="form-select" >
            <option value="" selected = "selected" >请选择</option>
            <option *ngFor="let rescueParent of parentNames" [value]="rescueParent.appId" >{{rescueParent.appName}}</option>
          </select>
          <p *ngIf="tjmenuform.submitted && !product.valid && !product.value && !submied"  class="text-danger">用于设备为必选项</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label >文件:</label>
        <div class="operate-group">
          <input required  type="file"  id="imageUrl" name="imageUrl" style="border: none" accept='.apk'    (change)="onFileChanged($event.target.files)"
                  #imageUrl>
          <p *ngIf="tjmenuform.submitted && !imageUrl.value && !submied"   class="text-danger">请上传文件</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
      <label class="unmust">备注:</label>
      <div class="operate-group">
      <input   type="text"  id="size" name="size" class="form-box"   #size>
      </div>
      </div>
      <div class="operate-btn">
        <button type="submit"    id="addWear" class="btns btn-blue">保存</button>
        <button (click)="tjmenu=false; clicked=false;" type="reset" class="btns btn-gray">取消</button>
      </div>
    </div>
  </form>
</div>

<div [hidden]="!deletemenu"  class="operate menu"  *ngIf="selectedProduct">
  <form class="operate-form"  #deletemenuform="ngForm" >
    <div class="operate-title txt-center fz14">{{selectedProduct.versionName}}<span (click)="clicked=false; deletemenu=false;" class="fa fa-close"></span></div>
    <div class="operate-content">
      <div class="operate-item fn-clear mt10">
        <label class="unmust">软件下载地址:</label>
        <div class="operate-group">
          <input required  type="text"  id="description2" name="description2" class="form-box"  [(ngModel)]="'http://60.205.4.247:9009/web/product/downloadFile/'+selectedProduct.downloadLink" #description2="ngModel">
        </div>
      </div>
      <div class="operate-item fn-clear mt25">
        <label class="unmust">二维码:</label>
        <div class="operate-group">
          <div id="qrcode_1">
          </div>
        </div>
      </div>
      <div class="operate-btn">
        <!--<button (click)="deletemenu=false; clicked=false;cancel()" type="reset" class="btns btn-gray">取消</button>-->
      </div>
    </div>
  </form>
</div>
